@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-image: url("/groovepaper.png");
  background-repeat: repeat;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.vertical-fix {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  height: 100svh;
  gap: 1rem;
}

/*
/**|======================================
/**| Header
/**|======================================
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: cornflowerblue;
  font-weight: 900;
  transition: all 200ms ease;
  &:hover,
  &:focus {
    transform: scale(1.01);
  }
}

.text-hide {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.profilepic {
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-right: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navlink {
  text-decoration: none;
  font-weight: 900;
  color: CornflowerBlue;
  background-color: AliceBlue;
  padding: 0.5rem;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 200ms ease;
  &:hover,
  &:focus {
    background-color: CornflowerBlue;
    color: aliceblue;
  }
}

/*
/**|======================================
/**| Footer
/**|======================================
*/

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: cornflowerblue;
  color: azure;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/*
/**|======================================
/**| contacts
/**|======================================
*/

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts-icon {
  margin-right: 1rem;
  color: inherit;
  transition: all 200ms ease;
  width: 2rem;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  color: CornflowerBlue;
  transition: all 200ms ease;
  &:hover,
  &:focus {
    filter: drop-shadow(0 0 25px CornflowerBlue);
    color: RoyalBlue;
    transform: scale(1.05);
  }
}

.contacts-bg {
  position: fixed;
  top: 10%;
  left: 0%;
  width: 200%;
  height: auto;
  z-index: -10;
  filter: opacity(0.05);
  overflow: hidden;
  transform: rotate(-12deg);
}

/*
/**|======================================
/**| Main Page
/**|======================================
*/

svg {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 5s alternate;
  stroke-width: 1;
  stroke: CornflowerBlue;
  font-size: 70px;
  fill: cornflowerblue;
}

@keyframes stroke {
  0% {
    fill: CornflowerBlue;
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: CornflowerBlue;
    stroke: CornflowerBlue;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.mainsection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 40%;
  @media screen and (min-width: 768px) {
    top: 55%;
  }
  @media screen and (min-width: 1200px) {
    top: 20%;
    right: 10%;
  }
}

.bg-hero {
  width: 100%;
  height: auto;
  z-index: -10;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.bg-hero-desktop {
  display: none;
  width: 100%;
  height: auto;
  z-index: -10;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.hero-text {
  font-weight: 400;
  margin: 1.5rem 0 0 0;
  color: azure;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: xx-large;
    margin: 0;
  }
}

.button {
  text-decoration: none;
  text-align: center;
  width: 12rem;
  font-weight: 900;
  color: CornflowerBlue;
  background-color: AliceBlue;
  padding: 0.5rem;
  border-radius: 7px;
  border-style: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 200ms ease;
  transform: translateY(-300%);
  &:hover,
  &:focus {
    background-color: CornflowerBlue;
    color: aliceblue;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    width: 20rem;
    padding: 1.5rem;
    font-size: x-large;
    transform: translateY(-170%);
  }
  @media screen and (min-width: 1200px) {
    width: 20rem;
    padding: 1.5rem;
    font-size: x-large;
    transform: translateY(-320%) translateX(85%);
  }
}

.mainsection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;
  @media screen and (min-width: 1200px) {
  }
}

.topskills-h2 {
  margin-top: 0;
  @media screen and (min-width: 768px) {
    font-size: xx-large;
    margin: 2rem 0 4rem 0;
  }
}

.topskills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 5rem;
  }
}

.topskills-link {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    color: royalblue;
    & .topskills-img-english,
    & .topskills-img-coding,
    & .topskills-img-adobe {
      transition: all 200ms ease;
      background-color: royalblue;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.topskills-h3 {
  margin: 0;
}

.topskills-img-english {
  background-color: cornflowerblue;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.topskills-img-coding {
  max-width: 12rem;
  height: auto;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.topskills-img-adobe {
  max-width: 7rem;
  height: auto;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.mainsection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornflowerblue;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: aliceblue;
  @media screen and (min-width: 768px) {
    margin-top: 2rem;
  }
}

.my-stack {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
  @media screen and (min-width: 768px) {
    gap: 4rem;
    padding-bottom: 3rem;
  }
}

.my-stack-h2 {
  @media screen and (min-width: 768px) {
    font-size: xx-large;
    margin: 4rem 0 4rem 0;
  }
}

.my-stack-pic {
  width: 55px;
  height: auto;
  filter: grayscale(0.3);
  transition: all 200ms ease;
  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 25px CornflowerBlue);
    transform: scale(1.05);
  }
  @media screen and (min-width: 768px) {
    width: 100px;
  }
  @media screen and (min-width: 1200px) {
    width: 80px;
  }
}

.connect {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    gap: 4rem;
  }
  @media screen and (min-width: 768px) {
    gap: 5rem;
  }
}

.connect-h2 {
  @media screen and (min-width: 768px) {
    font-size: xx-large;
    margin-top: 4rem;
  }
}

.connect-link {
  width: 3rem;
  height: auto;
  color: royalblue;
  &:focus,
  &:hover {
    filter: drop-shadow(0 0 25px CornflowerBlue);
    transform: scale(1.05);
  }
  @media screen and (min-width: 768px) {
    width: 4rem;
  }
}

.portfolio-h2 {
  color: cornflowerblue;
  @media screen and (min-width: 768px) {
    font-size: xx-large;
    margin-top: 4rem;
  }
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: cornflowerblue;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: LightSteelBlue;
  padding: 0.5rem;
  @media screen and (min-width: 768px) {
  }
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: snow;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.portfolio-title-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    color: royalblue;
    > .portfolio-pic1 {
      transform: scale(1.03);
    }
  }
}

.portfolio-pic1 {
  width: 290px;
  height: auto;
  border-radius: 7px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.portfolio-pic2 {
  display: none;
  width: 320px;
  height: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 7px;
}

.portfolio-title {
  display: flex;
  margin-top: 1rem;
}

.portfolio-logo {
  margin-right: 0.5rem;
}

.portfolio-h3 {
  margin: 0;
}

.portfolio-h4 {
  margin: 0;
}

.portfolio-p {
  margin: 0;
  padding: 1rem;
}
